<div class="container bg-light container rounded shadow p-lg-5 p-md-3 p-sm-1">
    <h1>Rabattaktion erstellen</h1>

    <!-- hard coded because it is okay for the customer -->
    <select class="form-select" aria-label="Rabattregel wählen" [(ngModel)]="selectedAction"
        (change)="onSelectChange(selectedAction)">
        <option value="1">Prozent</option>
        <option value="2">Fix</option>
    </select>

    <form [formGroup]="form!" (ngSubmit)="onSubmit()" class="mx-auto">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="form?.get('name')?.invalid && (form?.get('name')?.dirty || form?.get('name')?.touched)"
                class="alert alert-danger">
                <div *ngIf="form?.get('name')?.errors!['required']">
                    Name ist notwendig.
                </div>
            </div>
        </div>

        <!-- 1 == Prozent -->
        <div class="form-group" *ngIf="selectedAction == 1">
            <label for="percentValue">Rabatt</label>
            <div class="input-group no-wrap">
                <output>50</output>%
                <input type="range" class="form-range" min="0.01" max="1" step="0.01" value="0.05" id="percentValue"
                    formControlName="percentValue" valueAsNumber
                    oninput="this.previousElementSibling.value = Math.round(this.value * 100)">
            </div>

            <!-- <input type="number" class="form-control" id="fixedValue" formControlName="fixedValue"> -->
            <div *ngIf="form?.get('percentValue')?.invalid && (form?.get('percentValue')?.dirty || form?.get('percentValue')?.touched)"
                class="alert alert-danger">
                <div *ngIf="form?.get('percentValue')?.errors!['percentValue']">
                    Rabatt ist notwendig.
                </div>
                <div *ngIf="form?.get('percentValue')?.errors!['min']">
                    Rabatt muss positiv sein.
                </div>
            </div>
        </div>

        <!-- 2 == Fix -->
        <div class="form-group" *ngIf="selectedAction == 2">
            <label for="fixedValue">Rabatt</label>
            <input type="number" class="form-control" id="fixedValue" formControlName="fixedValue" name="fixedValue">
            <div *ngIf="form?.get('fixedValue')?.invalid && (form?.get('fixedValue')?.dirty || form?.get('fixedValue')?.touched)"
                class="alert alert-danger">
                <div *ngIf="form?.get('fixedValue')?.errors!['required']">
                    Rabatt muss vorhanden sein.
                </div>
                <div *ngIf="form?.get('fixedValue')?.errors!['min']">
                    Rabatt muss positiv sein.
                </div>
            </div>
        </div>

        <div class="d-grid mt-2">
            <button type="submit" class="btn btn-primary" [disabled]="form?.invalid">Speichern</button>
        </div>
    </form>


</div>