<div class="container bg-light container rounded shadow p-lg-5 p-md-3 p-sm-1">
    <h1>Rabatte verwalten</h1>

    <div class="discount-lists-container justify-content-between flex-sm-wrap">
        <div class="m-2 flex-fill">
            <div class="d-flex mb-2">
                <h2 class="flex-grow-1">Rabatte</h2>
                <a class="btn btn-primary me-2" routerLink="/discount">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
            <app-admin-discount-list [discounts]=discounts
                (deleteDiscountEvent)="deleteDiscount($event)"></app-admin-discount-list>
        </div>

        <div class="m-2 flex-fill">
            <div class="d-flex mb-2">
                <h2 class="flex-grow-1">Rabattregeln</h2>
                <a class="btn btn-primary me-2" routerLink="/rule">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
            <app-admin-discount-rule-list [rules]=rules (deleteDiscountRuleEvent)="deleteRule($event)"
                [inUseRules]="inUseRules"></app-admin-discount-rule-list>
        </div>

        <div class="m-2 flex-fill">
            <div class="d-flex mb-2">
                <h2 class="flex-grow-1">Rabattaktionen</h2>
                <a class="btn btn-primary me-2" routerLink="/action">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
            <app-admin-discount-action-list [actions]=actions (deleteDiscountActionEvent)="deleteAction($event)"
                [inUseActions]="inUseActions"></app-admin-discount-action-list>
        </div>
    </div>
</div>