<div class="container bg-light container rounded shadow p-lg-5 p-md-3 p-sm-1"><
    <h1>Cart</h1>

    <div class="cart-product-info-discount-wrapper">

        <div class="cart-product-info align-self-stretch flex-grow-1">
            <h2>Produkte</h2>
            <app-cart-overview-list [productCarts]="cart.productCarts" (addProduct)="addProduct($event)"
                (removeProduct)="removeProduct($event)"></app-cart-overview-list>

            <div class="m-2">
                Preis:
                <strong [ngClass]="{'text-decoration-line-through': cart.discounts.length > 0 || cart.coupon}">
                    {{ cart.price | currency }}
                </strong>
                <strong class="ms-2" *ngIf="cart.discounts.length > 0 || cart.coupon">{{ cart.price - cart.discountedPrice | currency }}</strong>
            </div>
            <div>
                <app-apply-coupon *ngIf="!cart.coupon && cart.productCarts.length > 0"></app-apply-coupon>
            </div>
            <div>
                <Button class="btn btn-primary col-12" [disabled]="cart.productCarts.length == 0"
                    (click)="createOrder()">
                    Bestellung kostenpflichtig abschließen
                </Button>
            </div>
        </div> 

        <div class="cart-overview-discount-wrapper m-2">
            <div *ngIf="availableDiscounts.length > 0">
                <h2>Verfügbare Rabatte</h2>
                <app-discount-list [discounts]="availableDiscounts"
                    (addDiscountsEvent)="addDiscountToCart($event)"></app-discount-list>
            </div>
            <div *ngIf="cart.discounts.length > 0">
                <h2>Angewandte Rabatte</h2>
                <app-discount-list [discounts]="cart.discounts"></app-discount-list>
            </div>
        </div>
    </div>
</div>